server:
  port: 8888

spring:
  application:
    name: configServerApplication
  cloud:
    config:
      server:
        native:
#          search-locations: classpath:/config
           search-locations: file:///C:\Users\kumar\Personal Backend Projects\eComProject\configServerApplication\configServerApplication\src\main\resources\config
  profiles:
    active: native

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

management:
  endpoints:
    web:
      exposure:
        include: busrefresh,health,info

app:
  name: hello server